// Teacher video preview
.teacher-video-thumbnail {
  position: relative;
  cursor: pointer;
  .overlay {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($color: #000000, $alpha: 0.3);
  }
}

.teacher-video-content {
  width: 100%;
}

.btn-play {
  background: none;
  border: none;
  transition: 0.4s ease;
  max-width: 40px;

  @include tablet {
    max-width: 60px;
  }

  &:active {
    transform: scale(1.3);
    outline: none;
  }
  &:target,
  &:focus,
  &:active {
    outline: none;
  }
}

// Teacher profile
.teacher-profile {
  &__img {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .status-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
  }
}

.teacher-about {
  .read-more-link {
    cursor: pointer;
  }
}

// Teacher lesson
.lesson-comp {
  width: 100%;
  margin: 2em auto;
  padding: 1.3em 2em;

  @media (min-width: 480px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  border: 1px solid rgba($color: $secondary, $alpha: 0.2);

  .lesson-separator {
    display: block;
    width: 30px;
    height: 3px;
    background: $secondary;
  }

  @include large-tablet {
    width: 90%;
  }
}
