.custom-header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 999;

  .navbar-toggler {
    outline: none;

    &:focus,
    &:active {
      outline: none;
    }
    i {
      font-size: 25px !important;
    }
  }

  .navbar-nav {
    .nav-item.active {
      font-weight: bold;
    }
  }
  .input-container {
    position: relative;
    .form-control {
      border-radius: 70px;
      padding-left: 40px;
    }
    i {
      position: absolute;
      color: $primary;
      left: 20px;
      @include large-tablet {
        left: 30px;
      }
      @include desktop {
        left: 35px;
      }
      top: 12px;
    }
  }
}

#member-second-nav {
  .navbar-nav {
    .active::after {
      content: "";
      display: block;
      border-bottom: 5px solid $warning;
      width: 100%;
      margin: auto;
      padding-bottom: 5px;
      margin-bottom: -8px;
      transition: 0.2s;
    }
  }
}

.custom-home-header {
  background: $dark;
  transition: 0.4s ease;

  @include large-tablet {
    background: none;
  }

  .navbar-nav .active > .nav-link {
    color: white;
  }
  .navbar-nav .nav-link {
    color: $secondary;
  }
}
.custom-home-header.scrolled {
  background: $dark;

  .navbar-nav .nav-link {
    color: white;
  }
}
