.sign-modal {
  .modal-header-custom {
    button.active {
      border-bottom: 3px solid $primary;
    }
    .btn:focus,
    .btn:active:focus,
    .btn.active:focus,
    .btn.focus,
    .btn:active.focus,
    .btn.active.focus {
      box-shadow: none;
    }
  }

  input::placeholder {
    color: $secondary;
  }
}
