<header class="custom-header" id="main-header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand font-weight-bold d-md-none" href="./index.html">
        <img src="../assets/logo-white-yellow.png" width="140" />
      </a>
      <button
        class="pl-3 btn d-none d-md-block"
        id="sidebarCollapse"
        onclick="showSidebar()"
      >
        <i class="fas fa-bars text-white"></i>
      </button>
      <button
        class="navbar-toggler border-0"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars text-warning"></i>
      </button>

      <div
        class="collapse navbar-collapse justify-content-between"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav ml-auto">
          <li class="nav-item d-md-none">
            <a href="dashboard.html" class="nav-link">
              <img
                src="./assets/dashboard.svg"
                class="img-fluid mr-2"
                width="25"
              />
              Dashboard</a
            >
          </li>
          <li class="active nav-item d-md-none">
            <a href="management.html" class="nav-link">
              <img
                src="./assets/users.svg"
                class="img-fluid mr-2"
                width="25"
                alt=""
              />

              Management Teachers</a
            >
          </li>
          <li class="nav-item d-md-none">
            <a href="#" class="nav-link">
              <img
                src="./assets/dollar.svg"
                class="img-fluid mr-2"
                width="25"
                alt=""
              />
              Reviewal</a
            >
          </li>
          <li class="nav-item d-md-none">
            <a href="#" class="nav-link">
              <img
                src="./assets/logout.svg"
                class="img-fluid mr-2"
                width="25"
                alt=""
              />
              Logout</a
            >
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#">
              <span class="text-white font-weigh-bold mr-4"
                >Jennifer William</span
              >
              <img
                src="../assets/admin-pic.png"
                class="img-fluid"
                width="40"
                alt=""
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
