<header class="custom-header">
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
      <a class="navbar-brand font-weight-bold text-dark" href="./index.html">
        <img src="../assets/logo-svg.svg" width="140" />
      </a>
      <button
        class="navbar-toggler border-0"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars text-warning"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link text-dark" href="teachers.html"
              >List Teachers <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Teachers Content</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Students Content</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="about.html">About Us</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <div class="input-container">
            <input
              class="form-control py-n3 mr-sm-2 ml-lg-3"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <i class="fas fa-search"></i>
          </div>
        </form>
        <ul class="d-flex d-md-none d-xl-flex align-items-center mt-3">
          <li class="nav-item">
            <button
              class="mr-2 my-2 btn btn-outline-primary"
              type="button"
              data-toggle="modal"
              data-target="#signIn"
            >
              Masuk
            </button>
          </li>
          <li class="nav-item">
            <button
              class="my-2 btn btn-warning text-white"
              data-toggle="modal"
              data-target="#signUp"
            >
              Daftar
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
