<header class="custom-header" id="main-header">
  <nav class="navbar navbar-expand-lg custom-home-header">
    <div class="container">
      <a class="navbar-brand font-weight-bold" href="./index.html">
        <img src="../assets/logo-white-yellow.png" width="140" />
      </a>
      <button
        class="navbar-toggler border-0"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars text-warning"></i>
      </button>

      <div
        class="collapse navbar-collapse justify-content-between"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active">
            <a class="nav-link" href="teachers.html"
              >List Teachers <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Teachers Content</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Students Content</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About Us</a>
          </li>
        </ul>

        <ul class="d-flex align-items-center mt-3">
          <li class="nav-item">
            <button
              class="mr-2 my-2 btn btn-outline-light"
              type="button"
              data-toggle="modal"
              data-target="#signIn"
            >
              Masuk
            </button>
          </li>
          <li class="nav-item">
            <button
              class="my-2 btn btn-warning text-white"
              data-toggle="modal"
              data-target="#signUp"
            >
              Daftar
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<script>
  const homeHeader = document.querySelector(".custom-home-header");

  document.addEventListener("scroll", function () {
    if (window.top.scrollY > 100) {
      homeHeader.classList.add("scrolled");
    } else {
      homeHeader.classList.remove("scrolled");
    }
  });
</script>
